.presentation-screen {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  background: url('/public/portada_background.png') no-repeat center center; /* Cambia la ruta al fondo */
  background-size: cover;
  color: #a2d5f2;
}

.continue-arrow {
  position: absolute;
  bottom: 20px;    /* Ajusta la distancia desde el fondo */
  left: 50%;
  transform: translateX(-50%);
  width: 30px;     /* Ajusta el tamaño según tus necesidades */
  height: auto;
  cursor: pointer;
}

.texto-central {
  width: 150px; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  cursor: pointer;
  margin-top: 30px;
}
